.background-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: colorChange 1200s ease-in-out infinite;
  background-color: var(--current-color) !important;
}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    .background-transition {
      background-color: var(--current-color) !important;
    }
  }
}