.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .pokemon-card:hover {
    background-color: #e0e0e0;
  }
}

.pokemon-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 0;
}

.pokemon-card p {
  margin-top: 0;
  font-size: 0.8rem;
  text-align: center;
  color: #333;
  font-weight: bold;
}

.pokemon-card.correct {
  animation: correctFeedback 0.5s ease;
}

.pokemon-card.incorrect {
  animation: incorrectFeedback 0.5s ease;
}

@keyframes correctFeedback {
  0% { background-color: #f0f0f0; }
  50% { background-color: #4CAF50; }
  100% { background-color: #f0f0f0; }
}

@keyframes incorrectFeedback {
  0% { background-color: #f0f0f0; }
  50% { background-color: #f44336; }
  100% { background-color: #f0f0f0; }
}

@media (max-width: 576px) {
  .pokemon-card img {
    width: 60px;
    height: 60px;
  }

  .pokemon-card p {
    font-size: 0.7rem;
  }
}